{% extends 'myapp/base.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% load static %}

</head>
<body>
    <header class="bg-primary text-white text-center py-4">
        <h1>Welcome to the Game Platform</h1>
    </header>
    
    <main class="container text-center py-5">
        <a href="{% url 'games_home' %}" class="btn btn-primary">Enter Games Home</a>
    </main>
</body>
</html>
{% endblock content %}